@font-face {
    font-family: 'ex-reg';
    src: url(../webfonts/ex/Exo-Regular.ttf);
}

@font-face {
    font-family: 'ex-bold';
    src: url(../webfonts/ex/Exo-Bold.ttf);
}

@font-face {
    font-family: 'ex-mid';
    src: url(../webfonts/ex/Exo-Medium.ttf);
}

@font-face {
    font-family: 'ex-black';
    src: url(../webfonts/ex/Exo-Black.ttf);
}


// Color;
$primary-color: #e13b3f;
$hover-color : #e13b3f;
$bColor: #333333;
$white : #ffffff;
$black : #000000;


// Body;
$bodyFont: 'ex-reg';
$titleFont: 'ex-bold';
$fontMid: 'ex-mid';
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .4s;
